* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


#explorer {
  display: flex;

  height: calc(100vh - 90px);
}

aside {
  background-color: #27b045;
  /* test */
  width: 230px;
  height: 100%;
}

main {
  background-color: #09220c;
  /* test */

  width: calc(100% - 230px);

  overflow-y: auto;

  background-color: #131821;
  color: white;

  padding: 90px 20px 20px;

}